.tooltip-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  padding: 10px;
  border-radius: 50%;
  background: transparent;
}

.tooltip-container:hover {
  background: var(--bg-color);
  transform: translateY(-5px);
  box-shadow: 0 0px 10px var(--icon-color);
}

.tooltip {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  background: var(--icon-color, var(--text-color));
  color: var(--bg-color);
  padding: 6px 12px;
  border-radius: 5px;
  font-size: 14px;
  font-weight: 600;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease-in-out;
  white-space: nowrap;
  pointer-events: none;
  z-index: 10;
}

.tooltip-container:hover .tooltip {
  opacity: 1;
  visibility: visible;
  top: -45px;
}

.tooltip::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: var(--icon-color) transparent transparent transparent;
}

.text {
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--text-color);
  transition: color 0.3s ease;
}

.tooltip-container:hover .icon {
  color: var(--icon-color);
}