* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans;
}

:root {
  --bg-color: #f4fbfa;
  --navbar-bg-color: #f0f0f0;
  --text-color: #1f3d3a;
  --heading-color: #7f38ec;
  --sub-heading-color: #007bff;
  --shadow-color: #3d5cf7;
  --input-color: cyan;
}

[data-theme="dark"] {
  --bg-color: #030b1c;
  --navbar-bg-color: #020617;
  --text-color: #e5e7eb;
  --heading-color: #7f38ec;
  --sub-heading-color: #007bff;
  --shadow-color: #4bf0fce4;
}

body {
  overflow-x: hidden;
  overflow-y: scroll;
}

::-webkit-scrollbar {
  display: none;
}

li,a {
  list-style: none;
  text-decoration: none;
}