.contact-section {
  background-color: var(--bg-color);
  color: var(--text-color);
  display: flex;
  flex-direction: column;
  padding: 10px 0px;
}

.contact-heading-container {
  width: 100%;
  text-align: center;
  margin: 10px auto;
}
.contact-heading{
  color: var(--heading-color); 
  font-size: 40px;
  text-shadow: 1px 1px 5px var(--shadow-color);
  text-transform: uppercase;
}

.contact-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.contact-context-container {
  max-width: 800px;
  text-align: justify;
  padding: 10px 20px;
  line-height: 40px;
  font-size: 20px;
}

.form-container {
  width: 100%;
  max-width: 400px;
}

.contact-form {
  display: flex;
  flex-direction: column;
  padding: 10px 20px;
  gap: 15px;
  border: 1px solid transparent;
  border-radius: 8px;
  box-shadow: 1px 1px 5px var(--shadow-color);
  margin: 10px auto;
}

.contact-form h2 {
  text-align: center;
  color: var(--heading-color);
  font-size: 30px;
}

.contact-form label {
  font-size: 25px;
  color: var(--sub-heading-color);
}

.contact-form input,
textarea {
  border: 1px solid transparent;
  border-radius: 10px;
  padding: 10px 5px;
  background-color: var(--bg-color);
  box-shadow: 1px 1px 5px var(--shadow-color);
}

.submit-btn {
  align-self: center;
  width: 150px;
  padding: 10px 0px;
  background-color: var(--bg-color);
  box-shadow: 1px 1px 5px white;
  color: var(--text-color);
  font-size: 18px;
  font-weight: 900;
  border: 1px solid transparent;
  border-radius: 8px;
}

.contact-caption {
  font-size: 22px;
  color: var(--text-color);
  padding-left: 10px 20px;
}

.contact-caption-list {
  padding: 5px 10px;
  font-size: 18px;
}

.contact-caption span {
  font-weight: bold;
  color: var(--sub-heading-color);
}