.contact-section {
  background-color: var(--bg-color);
  color: var(--text-color);
  display: flex;
  flex-direction: column;
  padding: 10px 0px;
}
.contact-heading-container {
  width: 100%;
  text-align: center;
  margin: 10px auto;
}
.contact-container {
  display: flex;
 }
.contact-para-container {
  max-width: 800px;
  text-align: justify;
  padding: 10px 20px;
  line-height: 40px;
  font-size: 20px;
}
.form-container {
  width: 400px;
}
.contact-form {
  display: flex;
  flex-direction: column;
  padding: 10px 20px;
  gap: 15px;
  border: 1px solid transparent;
  border-radius: 8px;
  box-shadow: 1px 1px 5px white;
  margin: 10px auto;
}
.contact-form h2 {
  text-align: center;
  color: var(--text-color);
  font-size: 30px;
}
.contact-form label {
  font-size: 25px;
  color: var(--heading-color);
}
.contact-form input,
textarea {
  border: 1px solid transparent;
  border-radius: 10px;
  padding: 10px 5px;
  background-color: var(--bg-color);
  box-shadow: 1px 1px 5px white;
}
.submit-btn {
  align-self: center;
  width: 150px;
  padding: 10px 0px;
  background-color: var(--bg-color);
  box-shadow: 1px 1px 5px white;
  color: var(--text-color);
  font-size: 18px;
  font-weight: 900; 
  border: 1px solid transparent ;
  border-radius: 8px;
}
.footer-content{
  position: relative;
  height: 500px;
  padding: 10px 20px;
  display: flex;
  flex-direction: column;
}
.footer-content h3{
  font-size: 30px;
  color: var(--text-color);
}
.footer-content p{
  font-size: 26px;
}
.footer-content-container{
  margin: 10px auto;
  width: 100%;
  display: flex;
  justify-content: space-around;
  font-size: 26px;
  margin: 20px 0px;
}
.footer-links, .footer-socials{
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.footer-copy{
  text-align: center;
  margin: 20px auto;
}