.navbar-container {
  min-height: 70px;
  display: flex;
  justify-content: end;
  align-items: center;
  background: var(--navbar-bg-color);
  color: var(--text-color);
  position: sticky;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1000;
  padding: 0px 20px;
  box-shadow: 0 0 5px var(--text-color);
}
.logo-container {
  min-width: 80px;
  position: relative;
  display: flex;
  justify-content: center;
  gap: 10px;
}
.logo {
  width: 50px;
  height: 50px;
  position: relative;
  left: -19px;
  color: #7f38ec;
}
.logo-text {
  position: absolute;
  left: 39px;
  top: 10px;
  font-style: italic;
  font-size: 2.5rem;
  font-weight: 900;
  color: #7f38ec;
}
.menu-icon {
  display: none;
  font-size: 1.8rem;
  color: var(--text-color);
  cursor: pointer;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 20px;
}
.list-btn {
  min-width: 80px;
  text-align: center;
  color: var(--text-color);
  padding: 5px 10px;
  font-size: 20px;
  font-weight: 500;
}

.list-btn:hover {
  color: #7f38ec;
  cursor: pointer;
  box-shadow: 3px 0px 10px white;
  background: transparent;
}

.active {
  /* color: #7f38ec; */
  color: var(--text-color);
  background: var(--bg-color);
  box-shadow:
    inset 2px 2px 1px rgba(12, 174, 219, 0.895),
    inset -2px -2px 5px rgba(8, 221, 232, 0.7);
  transition: all 1s ease-in-out;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  cursor: pointer;
}

.toggle-theme {
  width: 30px;
  font-size: 20px;
  background: transparent;
  color: var(--text-color);
  border: none;
}
@media (max-width: 768px) {
  .navbar-container {
    min-height: 80px;
    justify-content: flex-end;
  }
  .menu-icon {
    display: block;
  }
  .nav-links {
    position: absolute;
    top: 72px;
    right: 0;
    flex-direction: column;
    align-items: center;
    width: 250px;
    padding: 20px;
    display: none;
    color: var(--text-color);
    background-color: transparent;
    backdrop-filter: blur(3px);
  }

  .nav-links.active {
    display: flex;
  }

  .nav-links li {
    width: 100%;
  }

  .nav-links li a {
    width: 100%;
    padding: 10px;
    display: block;
  }

  .active {
    display: block;
  }
}
